option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    composer_options: --optimize-autoloader --no-progress
    memory_limit: 128M

# option_settings:
#   - namespace: aws:elasticbeanstalk:container:php:phpini
#     option_name: document_root
#     value: /public
